[View in Colaboratory](https://colab.research.google.com/github/Shenward/helloML/blob/master/Untitled0.ipynb)

In [2]:
from google.colab import drive
drive.mount('/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code
Enter your authorization code:
··········
Mounted at /gdrive

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [8]:
import os
os.listdir('/gdrive/My Drive')

['Colab Notebooks',
 'tjeff - name.pdf',
 'Resume (2).pdf',
 'Resume (1).pdf',
 'Resume.pdf',
 'junior packet 2018.doc.gdoc',
 'junior packet 2018.doc',
 'compaction.txt.gdoc',
 'nearestone.txt.gdoc',
 'nearestone.txt',
 'compaction.txt',
 'LegitimateChineseFinal.gdoc',
 'SIS Lab Proposal.gdoc',
 'File_002.jpeg',
 'Captain Speech.gdoc',
 'SAT Subject Tests Admission Ticket -- SAT Subject Test.pdf',
 'USNA Summer Seminar :.pdf',
 'Untitled document.gdoc',
 'Lynching.gdoc',
 'Untitled document (1).gdoc',
 'NCTE Theme.gdoc',
 'Work.gdoc',
 'Vocab 1.gdoc',
 'Sermon.gdoc',
 'New Recording.m4a',
 'Atlas.gslides',
 'File_000.mov',
 'File_001.mov',
 'Edward Shen, Jonathan Pollock Period 6.gdoc',
 'Search Ed.gdoc',
 'The Lab Edward Better Not Fuck Up.gdoc',
 'CustomerLargeYard.java',
 'CustomerMediumYard.java',
 'CustomerSmallYard.java',
 'DisplaySampleYard.java',
 'DriverSampleYard.java',
 'PanelSampleYard.java',
 'Yard.java',
 'Driver14.java',
 'individual project report.gdoc']

In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

os.listdir('/gdrive/My Drive/bitcoin-historical-data')

['bitflyerJPY_1-min_data_2017-07-04_to_2018-06-27.csv',
 'bitstampUSD_1-min_data_2012-01-01_to_2018-06-27.csv',
 'coinbaseUSD_1-min_data_2014-12-01_to_2018-06-27.csv',
 'coincheckJPY_1-min_data_2014-10-31_to_2018-06-27.csv']

In [13]:
df = pd.read_csv('/gdrive/My Drive/bitcoin-historical-data/bitstampUSD_1-min_data_2012-01-01_to_2018-06-27.csv')
df.head()

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,1325317920,4.39,4.39,4.39,4.39,0.455581,2.0,4.39
1,1325317980,4.39,4.39,4.39,4.39,0.455581,2.0,4.39
2,1325318040,4.39,4.39,4.39,4.39,0.455581,2.0,4.39
3,1325318100,4.39,4.39,4.39,4.39,0.455581,2.0,4.39
4,1325318160,4.39,4.39,4.39,4.39,0.455581,2.0,4.39

In [15]:
df.describe()

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
count,3.405857e+06,3.405857e+06,3.405857e+06,3.405857e+06,3.405857e+06,3.405857e+06,3.405857e+06,3.405857e+06
mean,1.427701e+09,1.535757e+03,1.537163e+03,1.534153e+03,1.535739e+03,1.101862e+01,1.533527e+04,1.535645e+03
std,5.915861e+07,3.037551e+03,3.041014e+03,3.033519e+03,3.037511e+03,3.500616e+01,7.259934e+04,3.037272e+03
min,1.325318e+09,3.800000e+00,3.800000e+00,1.500000e+00,1.500000e+00,0.000000e+00,0.000000e+00,3.800000e+00
25%,1.376406e+09,1.228200e+02,1.228900e+02,1.227600e+02,1.228100e+02,4.767414e-01,7.732200e+01,1.228200e+02
50%,1.427882e+09,4.167300e+02,4.168700e+02,4.165600e+02,4.167200e+02,2.157220e+00,4.738905e+02,4.167000e+02
75%,1.478970e+09,8.094000e+02,8.099700e+02,8.089900e+02,8.094800e+02,8.931947e+00,4.197468e+03,8.093700e+02
max,1.530058e+09,1.966576e+04,1.966600e+04,1.964996e+04,1.966575e+04,5.853852e+03,5.483271e+06,1.966330e+04